.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 50px;
}

.btn {
	padding: 12px 20px;
	text-decoration: none;
	border: none;
	color: black;
	border-radius: 10px;
	background-color: white;
	&:hover {
		cursor: pointer;
		background-color: rgb(67, 67, 248);
		color: white;
	}
}
